<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".DonaNiceApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonaNice"
        tools:targetApi="31">

        <!-- Splash como tela principal -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Demais telas -->
        <activity android:name=".LoginRegistrarActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrarActivity" />
        <activity android:name=".CarrinhoActivity"
            android:exported="true"/>
        <activity android:name=".ZeraCarrinhoActivity" />
        <activity android:name=".ConfiguracoesActivity" />
        <activity android:name=".ui.HistoricoActivity" />
    </application>

</manifest>
